<h3>עם מי יש לי העונג?</h3>
<form [formGroup]="registrationForm">
    <mat-form-field appearance="fill">
        <mat-label class="label">שם העסק</mat-label>
        <input matInput placeholder="Store Name" formControlName="name" required>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
        <mat-label class="label">שמך</mat-label>
        <input matInput placeholder="Store Owner" formControlName="ownerName" required>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
        <mat-label class="label">דואל</mat-label>
        <input matInput placeholder="Owner Email" formControlName="ownerEmail" required>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
        <mat-label class="label">עיר</mat-label>
        <input matInput placeholder="City" formControlName="city" required>
    </mat-form-field>
    <br/>
    <p>ספר לנו קצת על העסק, מה הופך אותו למיוחד?</p>
    <mat-form-field appearance="fill">
        <mat-label class="label">תיאור</mat-label>
        <input matInput placeholder="description" formControlName="description" required>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill">
        <mat-label class="label">קטגוריות</mat-label>
        <mat-select formControlName="category">
            <mat-option *ngFor="let categorySelect of categories" value="categorySelect" class="heb">
                {{categorySelect}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br/>
    <p>מוזמנים להוסיף לינק לתמונה שמייצגת אתכם או את העסק:</p>
    <mat-form-field appearance="fill">
        <mat-label class="label">לינק לתמונה</mat-label>
        <input matInput placeholder="imageUrl" formControlName="imageUrl">
    </mat-form-field>
    <br/>
    <p>מוזמנים לסמן את מה שחשוב לכם בעסק:</p>
    <mat-checkbox formControlName="veganFriendly">
        veganFriendly
    </mat-checkbox>
    &nbsp;    
    <mat-checkbox formControlName="secondHand" class="heb">
        יד שניה
    </mat-checkbox>
    &nbsp;
    <mat-checkbox formControlName="kosher" class="heb">
        כשר
    </mat-checkbox>
    &nbsp;
    <mat-checkbox formControlName="ecoFriendly" class="heb">
        ידידותי לסביבה
    </mat-checkbox>
    &nbsp;
    <mat-checkbox formControlName="socialBusiness" class="heb">
        עסק חברתי?
    </mat-checkbox>
    &nbsp;
    <mat-checkbox formControlName="madeInIsrael" class="heb">
        תוצרת ישראל
    </mat-checkbox>
    <br/>
    <br/>
    <button [disabled]="registrationForm.invalid" (click)="submitStoreInfo()" class="heb">שלח</button>
</form>
<br/>
