/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    direction: rtl;
}

button {
    border: none;
    background-color: #3F3F88;
    color: white;
    padding: 15px;
}

button:hover{
    background-color: #29296d;
}

