.store{
    background-color: #d5e2e7;
    border-color: #29296d;
    border-radius: 5%;
    color: #29296d;
    display: inline-table;
    margin: 1%;
    height: 400px;
    width: 300px;
    font-family: "Heb";
    text-decoration: none;
}

.store:hover {
    color: #131352;
}

.nameStore {
    margin-top: 15%;
    font-weight: bold;
    font-size: 20pt;
}

.cityStore {
    margin: 5%;
    font-size: 12pt;
}

p{
    margin: 5%;
    font-size: 12pt;
    height: 45%;
}

.getInStore {
    margin: 2%;
}

h2{
    font-size: 20pt;
    font-family: Heb;
    font-weight: bold;
    color: #131352;
    margin-left: 5%;
}